<header>

<nav class="navbar">
  <div class="logo">MonLogo</div>
  <ul class="nav_links">
    <li><a href="{{ path('app_home')}}">Accueil</a></li>
    <li><a href="{{ path('app_home')}}">Services</a></li>
    <li><a href="{{ path('app_product')}}">Produits</a></li>
    <li><a href="{{ path('app_home')}}">A propos</a></li>
    <li><a href="{{ path('app_home')}}">Contact</a></li>
   
  </ul>
</nav>

</header>

